<div class="container first text-center">

  <h1>¡Hola {{user.name}}!</h1>
  <hr>

  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-sm-12">
      <div class="row">
        <div class="col-lg-6 col-sm-12 text-center">
          <div class="section">
            <h2>Has ahorrado...</h2>
            <br>
            <p class="total-saving">{{finalSaving}} €</p>
            <div class="d-grid gap-2">
              <a href="/gastos?page=1">
                <button class="btn green-btn" type="button">Ver gastos</button>
              </a>
            </div>
          </div>
          <div class="section">
            <h2>Añade un vehículo</h2>
            <br>
            <div class="d-grid gap-2">
              <a href="/vehiculos/crear">
                <button class="btn green-btn" type="button">Nuevo vehículo</button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="section">
            <h2>Cambia de vehículo</h2>
            <br>
            <ul class="list-group">
              <div class="row">
                {{#each vehicles}}
                <div class="col-12">
                  <div class="row">
                    <li>
                      <div class="col-12 align-items-center">
                        <a class="btn btn-primary d-block vehicle-btn" href="/?fuel={{fuelType}}">
                          {{!-- <img src="../../images/logo-white.png" alt="vehículo"> --}}
                          <p class="vehicle-name">{{brand}} {{model}}</p>
                          <p class="vehicle-fuel">{{fuelType}}</p>
                          <p class="vehicle-average">{{averageFuel}} L/100km</p>
                        </a>
                      </div>
                      <div class="col-5 justify-content-center"><a href="/vehiculos/editar/{{_id}}"
                          class="btn btn-warning edit-btn profile-btns">Editar</a></div>
                      <div class="col-5">
                        <form action="/vehiculos/eliminar/{{_id}}" method="POST" style="display: inline-block">
                          <button class="btn btn-danger d-block remove-trampa remove-btn profile-btns">Eliminar</button>
                        </form>
                      </div>
                    </li>
                  </div>
                </div>
                {{/each}}
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>